<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Ver Servicios</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-sRIl4kxILFvY47J16cr9ZwB07vP4J8+LH7qKQnuqkuIAvNWLzeN8tE5YBujZqJLB" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
  </head>
  <body>
    
                <div>
                    <a href= "{% url 'crearServicio' %}" class="btn btn-primary my-3">Agregar Servicio</a>
                </div>
                {%if servicios %}
                    <table class="table">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Servicios</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for servicio in servicios %}
                                <tr>
                                    <td>{{servicio.id}}</td>
                                    <td>{{servicio.servicio}}</td>
            
                                    <td>
                                        <a href="/editarServicio/{{servicio.id}}" class="btn btn-warning"><i class="bi bi-pen"></i></a>
                                        <a href="/eliminarServicio/{{servicio.id}}" class="btn btn-danger"><i class="bi bi-trash"></i></a>
                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                {% else %}
                    <h3>No hay Servicios</h3>
                {% endif %}

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</html>
    

                

</body>
</html>